Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-c-arrays,
  -bugprone-exception-escape