BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

IndentCaseLabels: true
IndentPPDirectives: BeforeHash
SpaceBeforeParens: ControlStatements
SpaceInEmptyBlock: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SortIncludes: CaseInsensitive
IncludeBlocks: Preserve

ReflowComments: true
Cpp11BracedListStyle: true

FixNamespaceComments: true
NamespaceIndentation: None

RemoveBracesLLVM: false

AllowShortLoopsOnASingleLine: false
BreakAfterReturnType: All
AlwaysBreakTemplateDeclarations: Yes
IndentWrappedFunctionNames: true
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma